{;; just keep it as a string to simplify loading
 :port #or [#env PORT "3335"]
 :database-url #profile {:test "postgres://byf@localhost:5445/byf_test"
                         ;; I should still be able to override the
                         ;; dev DATABASE_URL in dev if I wanted to?
                         :dev "postgres://byf@localhost:5445/byf"
                         :default #env DATABASE_URL}

 :slack-hook #env SLACK_HOOK
 :admin-password #or [#env ADMIN_PASSWORD "secret"]
 ;; this is only defined when running on Heroku
 :git-commit #env HEROKU_SLUG_COMMIT

 ;; auth related config
 :auth-enabled #boolean #or [#env AUTH_ENABLED "false"]
 :github-client-id #env GITHUB_CLIENT_ID
 :github-client-secret #env GITHUB_CLIENT_SECRET

 ;; monitoring 
 :google-analytics-tag #env GOOGLE_ANALYTICS_TAG
 :newrelic-license-key #env NEWRELIC_LICENSE_KEY
 :newrelic-application-id #env NEWRELIC_APPLICATION_ID}
