{
 :port #or [#env PORT 3000]
 :database-url #profile {:test "postgres://elo@localhost:5445/elo_test"
                         ;; I should still be able to override the
                         ;; dev DATABASE_URL in dev if I wanted to?
                         :dev "postgres://elo@localhost:5445/elo"
                         :default #env DATABASE_URL}

 :slack-hook #env SLACK_HOOK
 :google-analytics-tag #env GOOGLE_ANALYTICS_TAG
 :admin-password #or [#env ADMIN_PASSWORD "secret"]
 ;; this is only defined when running on Heroku
 :git-commit #env HEROKU_SLUG_COMMIT
 :auth-enabled #boolean #or [#env AUTH_ENABLED "false"]
 }
