{;; just keep it as a string to simplify loading
 :port #or [#env PORT "3335"]
 :database-url #profile {:test "postgres://byf@localhost:5445/byf_test"
                         ;; I should still be able to override the
                         ;; dev DATABASE_URL in dev if I wanted to?
                         :dev "postgres://byf@localhost:5445/byf"
                         :default #env DATABASE_URL}

 :realm #or [#env REALM "localhost"]

 :slack-hook #env SLACK_HOOK
 :admin-password #or [#env ADMIN_PASSWORD "secret"]

 ;; auth related config
 :auth-enabled #boolean #or [#env AUTH_ENABLED "false"]
 :github-client-id #env GITHUB_CLIENT_ID
 :github-client-secret #env GITHUB_CLIENT_SECRET
 :firebase-api-key #env FIREBASE_API_KEY
 
 ;; monitoring
 :google-analytics-tag #env GOOGLE_ANALYTICS_TAG}
