.vega-embed {
  padding-right: 200px;
}

th {
  text-transform: uppercase;
  font-weight: bold;
}

.result__element {
  color: white;
  margin: 2px;
  font-weight: bolder;
}

.result__w {
  background-color: green;
}

.result__d {
  background-color: black;
}

.result__l {
  background-color: red;
}

.league__name {
  font-size: 2rem;
}

.add_game_button {
  font-size: 1.2rem;
}

button {
  text-transform: uppercase;
}

.chevrons {
  font-weight: bolder;
  font-size: 1.6em;
}

/* .table { */
/*   &.is-loading { */
/*     position: relative; */
/*     pointer-events: none; */
/*     opacity: 0.5; */
/*     &:after { */
/*       @include loader; */
/*       position: absolute; */
/*       top: calc(50% - 2.5em); */
/*       left: calc(50% - 2.5em); */
/*       width: 5em; */
/*       height: 5em; */
/*       border-width: 0.25em; */
/*     } */
/*   } */
/* } */
