.vega-embed {
  padding-right: 200px;
}

th {
  text-transform: uppercase;
  font-weight: bold;
}

.result__element {
  color: white;
  margin: 2px;
  font-weight: bolder;
  width: 20px;
  text-align: center;
}

.result__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.result__w {
  background-color: green;
}

.result__d {
  background-color: black;
}

.result__l {
  background-color: red;
}

button {
  text-transform: uppercase;
}

.chevrons {
  font-weight: bolder;
  font-size: 1.6em;
}

#stats {
  display: flex;
}

label {
  font-weight: bold;
  text-transform: uppercase;
}
